.userset, .usernotset
{
    display: flex;
    width: 95%;
    padding: 1%;
    height: auto;
    align-items: center;
    justify-content:space-between;
    border:none;
    background-color: rgb(102, 16, 230);
    color: white;
}

.userset .appname,.usernotset .appname
{
    font-size: 250%;
    font-weight: bold;
}

.userset p,.usernotset
p
{
    font-size: 130%;
    margin-left: 5%;
    float: left;
}

.btn-2 {
    background: rgb(255, 255, 255);
    color:rgb(102, 16, 230);
    font-weight: bold;
    border: none;
    padding:1rem;
    border-radius: 20px;
    margin-left: 50px;
}
.btn-2:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

@media only screen and (max-width:480px){
    .userset{
        min-width: 1250px;
    }
}